.dot-status {
	width: 10px;
	height: 10px;
	border-width: 2px;
	border-style: solid;
	transition:
		background-color 0.5s,
		border-color 0.5s;
	border-radius: 100%;
	&.active {
		background: #14532d;
		border-color: #166534;
	}
	&.inactive {
		background: #450a0a;
		border: 2px solid #7f1d1d;
	}
}
