.songs-order-view-container {
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding: 50px 10px calc(var(--controls-h) + 10px);
	max-width: 800px;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 100dvh;
	overscroll-behavior: contain;
	margin: 0 auto;
}
